.List-Content{
	width: calc(100% - 64px);
	margin: 0 32px;
	line-height: 20px;
}
.List-Header,
.List-Item-Line{
	display: inline-flex;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #EDEDF0;
}
.List-Header{
	font-weight: 700;
	color: #000000;
}
.List-Content-Container {
    overflow-y: scroll;
	height: calc(100vh - 157px);
	display: flex;
	flex-direction: column;
	margin-top: -5px;
}
.List-Content-Container::-webkit-scrollbar {
    display: none;
}
.List-Item-Line{
	color: rgba(0, 0, 0, 0.65);
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(0,0,0,0);
	padding: 0;
	margin: 0;
	background: none;
	cursor: pointer;
	font: inherit;
	color: inherit;
}
.List-Item-Line:hover{
	background-color: #EDEDF0;
}
.List-Item-Line:focus{
	border-bottom: 1px solid blue !important;
	border-top: 1px solid blue !important;
}
.List-column{
	width: calc(50% - 18px);
	padding: 9px;
	text-align: left;
}
.List-Content img,
.List-Filler-Space{
	width: 36px;
	height: 36px;
}











.Grid-Content{
	width: calc(100% - 64px);
	margin: 0 32px;
	line-height: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 4px;
}
.Grid-Content .Grid-Content-Card{
	width: 216px;
	position: relative;
	border: 1px solid #EDEDF0;
	border-radius: 5px;
}
.Grid-Content .Grid-Content-Card img{
	height: 100px;
}
.Grid-Top-Container{
	display: flex;
	justify-content: center;
	background-color: #F9FAFA;
}
.Grid-Bottom-Container{
	display: flex;
	background-color: white;
	width: calc(100% - 16px);
	margin: 8px;
	flex-wrap: wrap;
	align-content: space-between;
	height: 56px;
}
.Grid-Bottom-Container h1,
.Grid-Bottom-Container p{
	width: 100%;
}
.Grid-Top-Right{
	position: absolute;
	top: 3px;
	right: 3px;
	background-color: white;
	padding: 3px;
	border-radius: 5px;
	color: #006FFF;
}








.Device-Open-Content{
	width: calc(100% - 64px);
	margin: 0 32px;
	line-height: 20px;
	display: flex;
	justify-content: space-around;
}
.Device-Open-Container{
	display: inline-flex;
	align-content: center;
	justify-content: center;
	gap: 32px;
}
.Device-Open-Content img{
	background-color: #F9FAFA;
	border-radius: 5px;
}
.Device-Open-Content .Table-Container{
	height: 100%;
	width: 444px;
}
.Device-Open-Content .Table-Title{
	margin-bottom: 16px;
}
.Device-Open-Content .Table-Title div:nth-child(1){
	font-size: 20px;
	font-weight: 700;
	color: rgba(0,0,0,0.85);
}
.Device-Open-Content .Table-Title div:nth-child(2){
	color: rgba(0,0,0,0.45);
}
.Device-Open-Content .Table-Content{
	width: 100%;
	height: calc(100% - 56px);
}
.Device-Open-Content .Table-Content td:nth-child(2){
	text-align: right;
	color: rgba(0,0,0,0.45);
}

.LinkToJSON{
	position: relative;
	top: 16px;
	color: #006FFF;
	padding: 6px 2px;
}
.LinkToJSON:hover{
	color: #0059CC;
}
.LinkToJSON:focus{
	border: 1px solid #006FFF;
	border-radius: 5px;
}



/*
@media only screen and (max-width: 999px){
	*{

	}
}*/