*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;
}
p{
	-webkit-text-size-adjust: 200%;	
}
a{
	text-decoration: none;
}
.hidden{
	display: none !important;
}
.lightRed{
	color: #F9B0B2 !important;
}
.Icon{
	display: flex;
	align-content: center;
	justify-content: center;
	box-shadow: 0 5px 8px rgba(0,0,0,0.08);
	color: rgba(0,0,0,0.45);
	padding: 4px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0);
	cursor: pointer;
}
.Icon:hover{
	background-color: #F4F5F6;
}
.Icon:focus{
	border: 1px solid #006FFF !important;
}
.Icon-Active{
	color: #006FFF;
	background-color: #F4F5F6;
}
#Header{
	width: 100%;
}
.Header-Top,
.Header-Bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Header-Top{
	width: 100%;
	background-color: #F4F5F6;
	height: 50px;
	box-shadow: 0 5px 10px #838691;
	min-width: 600px;
	z-index: 3;
}
.Header-Left{
	display: flex;
	align-items: center;
}
.Header-Left .Header-Top-Text{
	height: 20px;
}
.Header-Top .Header-Right{
	margin-right: 32px;
}
.Header-Bottom{
	width: calc(100% - 64px);
	margin: 0 32px;
	height: 64px;
}

/*Header UI Logo*/
#UI-Logo-Link{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(0,0,0,0);
}
#UI-Logo-Link .Logo-Background{
	fill: none;
}
#UI-Logo-Link .Logo-U{
	fill: #50565e;
}
#UI-Logo-Link:hover .Logo-Background{
	fill: white;
}
#UI-Logo-Link:hover .Logo-U{
	fill: #006FFF;
}
#UI-Logo-Link:focus{
	border: 1px solid #006FFF;
}
#UI-Logo-Link:focus .Logo-Background{
	fill: none;
}

/*Searchbar */
.search-container{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px;
    width: 344px;
    background-color: #F6F6F8;
}
#Searchbar{
    flex: 1;
    border: none;
    outline: none;
    padding: 6px 6px 6px 30px;
    background-color: rgba(0,0,0,0);
}
#Searchbar:hover{
	background-color: #EDEDF0;
}
#Searchbar:focus{
	border: 1px solid #006FFF;
	border-radius: 5px;
}
.Search-Icon{
	position: absolute;
	left: 32px;
	top: 72px;
    font-size: 20px;
    color: #777;
    margin: 0 11px;
}
.dropdownSearch,
.Filter-Dropdown{
	position: absolute;
	top: 90px;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 5px 10px #838691;
	border-radius: 5px;
	font-size: 14px;
}
.dropdownSearch{
	padding: 8px;
	max-height: 50vh;
	overflow-y: scroll;
	z-index: 4;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.dropdownSearch::-webkit-scrollbar {
    display: none;
}
.dropdownSearch button{
	display: flex;
	justify-content: space-between;
	padding: 6px 8px;
	border: 1px solid rgba(0,0,0,0);
	width: 100%;
	background: none;
	cursor: pointer;
}
.dropdownSearch button div:nth-child(1){
	text-align: left;
	color: #50565E;
	padding-right: 32px;
}
.dropdownSearch button div:nth-child(2){
	text-align: right;
	color: #808893;
}
.dropdownSearch button u{
	text-decoration: underline;
	font-weight: 700;
}
.dropdownSearch button:hover{
	background-color: #F4F5F6;
}
.dropdownSearch button:focus{
	border: 1px solid #006FFF;
}












#Devices-Num{
	color: #BDBDBD;
	margin-left: 20px;
	font-size: 12px;
}
.Filters-Container{
	display: inline-flex;
}
.Filters-Container svg,
.Filters-Container button{
	box-shadow: none;
	background-color: rgba(0,0,0,0);
}
.Filter-Dropdown{
	right: 32px;
	padding: 16px;
	gap: 16px;
	z-index: 3;
}
.Filter-Dropdown .Filter-Options{
	display: inline-flex;
	flex-wrap: wrap;
	line-height: 14px;
	gap: 8px;
	width: 122px;
}
.Filter-Dropdown .Filter-Options .Filter-Row{
	display: flex;
	gap: 8px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 5px;
	padding: 1px 5px 1px;
}
.Filter-Dropdown .Filter-Options .Filter-Row:hover{
	border: 1px solid #006FFF;
}
.Filter-Dropdown .Filter-Options .Filter-Row input{
	transform: scale(1.5);
}
.Filter-Dropdown .Filter-Options input[type="checkbox"]{
	cursor: pointer;
}
#Filter-Dropdown-Reset{
	color: #F03A3E;
	cursor: pointer;
}









.Content-Device-Button{
	background-color: white;
}
.Arrows{
display: inline-flex;
gap: 4px;
}

.Flipped{
	transform: scaleX(-1);
}